In [6]:
import pandas as pd
import seaborn as sns 
import numpy as np

In [7]:
from numpy import pie

ImportError: cannot import name 'pie' from 'numpy' (E:\softwares\anaconda\lib\site-packages\numpy\__init__.py)

In [4]:
df = pd.read_excel('./python practice.xlsx')
df.head()

,Respondents,Gender,Age_Group,Education,Number_Years_Worked,Budget_Allocation_1,Budget_Allocation_2,Budget_Allocation_3,Budget_Allocation_4,Employees_Training_1,...,Organization_Culture_2,Organization_Culture_3,Organization_Culture_4,Organization_Structure_1,Organization_Structure_2,Organization_Structure_3,Organization_Structure_4,Implementation_Procurement_Regulations_1,Implementation_Procurement_Regulations_2,Implementation_Procurement_Regulations_3
0,R1,1,4,4,2,1,5,2,2,1,...,4,4,5,1,3,5,1,2,4,1
1,R2,1,1,3,4,1,1,2,1,1,...,1,4,3,1,4,5,1,3,5,5
2,R3,0,1,2,5,0,4,4,3,0,...,4,5,5,0,2,3,5,1,2,4
3,R4,0,3,4,1,1,1,3,4,1,...,2,4,4,1,4,3,4,5,3,4
4,R5,1,2,4,5,0,5,3,1,1,...,5,1,1,1,5,4,3,3,5,4

In [10]:

df.mean()

Gender                                      0.558140
Age_Group                                   3.581395
Education                                   3.255814
Number_Years_Worked                         4.104651
Budget_Allocation_1                         0.697674
Budget_Allocation_2                         3.895349
Budget_Allocation_3                         3.930233
Budget_Allocation_4                         3.837209
Employees_Training_1                        0.709302
Employees_Training_2                        4.046512
Employees_Training_3                        3.895349
Employees_Training_4                        4.011628
Organization_Culture_1                      0.709302
Organization_Culture_2                      3.930233
Organization_Culture_3                      3.976744
Organization_Culture_4                      3.906977
Organization_Structure_1                    0.674419
Organization_Structure_2                    3.825581
Organization_Structure_3                    3.930233
Organization_Structure_4                    4.000000
Implementation_Procurement_Regulations_1    3.906977
Implementation_Procurement_Regulations_2    4.046512
Implementation_Procurement_Regulations_3    3.953488
dtype: float64

In [13]:
budget_all = df.iloc[:,5:9]
budget_all.mean()

Budget_Allocation_1    0.697674
Budget_Allocation_2    3.895349
Budget_Allocation_3    3.930233
Budget_Allocation_4    3.837209
dtype: float64

In [14]:
total_budget = df['Budget_Allocation_1'] + df['Budget_Allocation_2']  + df['Budget_Allocation_3'] + df['Budget_Allocation_4']
total_budget.mean()

12.36046511627907